services:
  oracle-db:
    image: container-registry.oracle.com/database/express:latest
    container_name: oracle-demo
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PWD=YourPassword123
    volumes:
      - oracle-data:/opt/oracle/oradata # Path for persistent data
volumes:
  oracle-data: